html{
  font-size: 1REM;
}

body{
  font-family: sans-serif;
  font-size: 1.2rem; 
  line-height: 1.2;
  text-align: center;
  margin: 0;
  color: #333;
}

h1{
  font-size: 4rem;
  margin-bottom: 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

h2{
  font-size: 3rem;
}

a{
  color: #477ca7;
}

a:visited {
  color: #85709f;
}


#main {
  margin: 3rem 0.8rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 0;
  background: #eee;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

img {
  background-size: cover;
  max-width: 100%;
  display: block;
  height: auto;
  margin: 1rem auto;
}

#img-div {
  background: white;
  padding: 2rem;
  margin: 1rem;
}

#img-caption {
  margin: 1.5rem 0 0.5rem 0;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}

#headline {
  margin: 5rem 0;
  text-align: center;
}

blockquote {
  font-style: italic;
  max-width: 54,5rem;
  margin: 0 auto 5rem auto;
  text-align: left;
}